@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: 170px 5fr;
    height: 100vh;
}
.sidebar{
    background-color: #38bdf8;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}
.header{
    background-color: #f0f9ff;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows: 70px 1fr;
}
.content{
    background-color: darkgrey;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}
.content{
    border: 1px solid red;
}
.title{
    font-size: 2em;
}
.main-selection, .secondary-selection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5em;
    padding-left: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
.large-icon{
    padding-right: 10px;
    fill: white;
    width: 50px;
    height: 50px;
}
.small-icon{
    padding-right: 20px;
    fill: white;
    width: 30px;
    height: 30px;
}
a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;
    text-decoration: none;
}
.top-header{
    display: grid;
    grid-template-columns: 1fr 400px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
}
button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f0f9ff;
}
#search{
    padding-left: 20px;
    width: 600px;
    height: 30px;
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
    margin-left: 20px;
}
.notify{
    width: 30px;
    height: 30px;
}
.profile-picture{
    width: 45px;
    height: 45px;
}
.account-setting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 30px;
}
.username{
    font-size: 1.3em;
}
.bottom-header{
    display: grid;
    grid-template-columns: 1fr 450px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.buttons .edit-button{
    background-color: #38bdf8;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 1.1em;
}
.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 60px;
}
.main-profile-picture{
    width: 70px;
    height: 70px;
}
.text-profile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text-user{
    font-size: 1.5em;
}

